<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="width: 63%; margin-left: 10%; margin-bottom: 30%">
  <a
    class="linkdes1 staffforgotpasswordbackbtn"
    onclick="includehtml('stafflogin', 'app/components/staffloginform.html')"
    ><img src="./img/caret-back-svgrepo-com-gray.svg"
  /></a>
  <h3 style="color: var(--black); font-family: Barlowregular">
    Forgot Password?
  </h3>
  <img
    class="staffforgotpasswordimg1"
    src="./img/key-password-svgrepo-com.svg" />
  <div class="staffforgotpasswordemail">
    <p class="staffforgotpasswordlb1">
      Enter your email to reset your password
    </p>
  </div>
  <div class="staffforgotpasswordemail">
    <input
      class="inputtextdes1"
      type="text"
      placeholder="example@example.com"
      id="staffforgotpasswordemail" />
  </div>
  <div class="staffforgotpasswordemail">
    <button
      onclick="includehtml('stafflogin', 'app/components/staffcheckyouremail.html')"
      class="btndes4 flexbox flexdirec-row">
      <p class="staff_forgt_pass_send">SEND</p>
      <img class="staff_forgt_pass_send_ionicon" src="./img/send-outline.svg" />
    </button>
  </div>
</div>
