<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="width: 63%; margin-left: 10%; margin-bottom: 30%">
  <img class="staffcheckyouremailimg1" src="./img/email-svgrepo-com.svg" />
  <br />
  <h3 style="color: var(--black); font-family: Barlowregular">
    Check your mail!
  </h3>
  <br />
  <div class="staffforgotpasswordemail">
    <p class="staffcheckyouremaillb1">
      The email verification code is already sent to your account in order for
      you to reset your password
    </p>
  </div>
  <div class="staffforgotpasswordemail">
    <input
      class="inputtextdes1"
      type="text"
      placeholder="Enter verification code"
      id="staffcheckyouremail" />
  </div>
  <div class="staffforgotpasswordemail">
    <button
      onclick="includehtml('stafflogin', 'app/components/staffchangepassword.html')"
      class="btndes4 flexbox flexdirec-row">
      <p class="staff_forgt_pass_send">Verify and Continue</p>
    </button>
  </div>
  <div class="staffforgotpasswordemail">
    <button
      onclick="includehtml('stafflogin', 'app/components/staffloginform.html')"
      class="btndes5 flexbox flexdirec-row">
      <p class="staff_checkyouremail_goback">Go Back</p>
    </button>
  </div>
  <div class="staffforgotpasswordemail" style="text-align: center">
    <p class="staffcheckyouremaillb2">Don't receive the code?</p>
  </div>
</div>
