<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="width: 63%; margin-left: 10%; margin-bottom: 30%">
  <h3
    style="
      color: var(--ultrablack);
      font-family: Barlowregular;
      margin-bottom: 3px;
    ">
    Change Password
  </h3>
  <p
    style="
      color: var(--black);
      font-family: Barlowregular;
      font-weight: bold;
      margin-bottom: 3px;
      text-align: center;
    ">
    In order to protect your account, make sure <br />your password:
  </p>
  <ul
    style="
      color: var(--ultrablack);
      font-family: Barlowregular;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 3px;
    ">
    <li>Is not the same as your old password</li>
    <li>
      Does not match or significantly contain your<br />
      email or username, e.g do not use 'username123'.
    </li>
    <li>has atleast 8 characters</li>
    <li>has a mixture of letters and numbers</li>
    <li>
      Inclusion of atleast one special character, e.g..!<br />@ # ? | Note: do
      not use &lt; or &gt; in your password,<br />
      as both can cause problems in Web browsers.
    </li>
  </ul>
  <div class="staffforgotpasswordemail">
    <label
      style="
        text-align: left;
        font-family: Barlowregular;
        font-weight: bold;
        font-size: 14px;
        color: var(--ultrablack);
      "
      class="fullwidth">
      New Password
    </label>
  </div>
  <div class="staffforgotpasswordemail">
    <input
      class="inputtextdes1"
      type="password"
      placeholder="Enter new password"
      id="staffchangepassword" />
  </div>
  <div class="staffforgotpasswordemail">
    <label
      style="
        text-align: left;
        font-family: Barlowregular;
        font-weight: bold;
        font-size: 14px;
        color: var(--ultrablack);
      "
      class="fullwidth">
      Confirm Password
    </label>
  </div>
  <div class="staffforgotpasswordemail">
    <input
      class="inputtextdes1"
      type="password"
      placeholder="Confirm new password"
      id="staffchangeconfirmpassword" />
  </div>
  <div class="staffforgotpasswordemail">
    <button
      onclick="includehtml('stafflogin', 'app/components/staffchangepasssuccess.html')"
      class="btndes4 flexbox flexdirec-row">
      <p class="staff_forgt_pass_send">Change Password</p>
    </button>
  </div>
  <div class="staffforgotpasswordemail">
    <button
      onclick="includehtml('stafflogin', 'app/components/staffloginform.html')"
      class="btndes5 flexbox flexdirec-row">
      <p class="staff_checkyouremail_goback">Go Back</p>
    </button>
  </div>
</div>
