<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="width: 63%; margin-left: 10%; margin-bottom: 30%">
  <div
    class="fullwidth"
    style="
      background-color: var(--yellowgreen);
      height: 20%;
      border-radius: 7px;
      margin-bottom: 3px;
    ">
    <h3
      style="
        color: var(--ultrablack);
        font-family: Barlowregular;
        text-align: center;
      ">
      Changed Password <br />
      Successfully!
    </h3>
    <p style="text-align: center">You can now log-in using your new password</p>
    <div class="fullwidth flexbox" style="padding: 10px">
      <button
        onclick="includehtml('stafflogin', 'app/components/staffloginform.html')"
        class="btndes4">
        <p class="staff_forgt_pass_send">LOG-IN</p>
      </button>
    </div>
  </div>
</div>
