<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="
    background-color: var(--violet);
    padding-left: 10%;
    padding-right: 10%;
  ">
  <h2 class="fullwidth" style="color: var(--white); text-align: left">
    Change Password
  </h2>
  <h3 style="color: var(--white)">
    In order to protect your account, make sure your password:
  </h3>
  <br />
  <ul>
    <li style="color: var(--white)">is not the same as your old password</li>
    <li style="color: var(--white)">
      Does not match or significantly contain your email or username, e.g do not
      use 'username123'
    </li>
    <li style="color: var(--white)">ha atleast 8 characters</li>
    <li style="color: var(--white)">
      inclusion of atleast one special character, e.g |.!@#?|
    </li>
  </ul>
  <br />
  <br />
  <label class="fullwidth" style="color: var(--white); text-align: left"
    >New Password</label
  >
  <input
    class="inputtextdes2"
    placeholder="Type your new password"
    type="text" />
  <label class="fullwidth" style="color: var(--white); text-align: left"
    >Re-enter Password</label
  >
  <input
    class="inputtextdes2"
    placeholder="Re-enter your new password"
    type="text" />
  <button
    onclick="includehtml('studentlogin', 'app/components/studentchangepasssuccess.html')"
    class="btndes3">
    DONE
  </button>
</div>
