<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="
    background-color: var(--violet);
    padding-left: 20%;
    padding-right: 20%;
  ">
  <label
    onclick="includehtml('studentlogin', 'app/components/studentloginform.html')"
    class="fullwidth"
    style="color: var(--white); text-align: left"
    >&lt; BACK</label
  >
  <hr class="fullwidth" />
  <img src="./img/forgot_vector.png" style="width: 300px; height: 300px" />
  <h2 style="color: var(--white)">Forgot Password</h2>
  <p style="color: var(--white); text-align: center">
    Enter your email address to reset your password. The verification code will
    be sent to your email.
  </p>
  <input
    class="inputtextdes2"
    placeholder="Enter your email here"
    type="text" />
  <button
    class="btndes3"
    onclick="includehtml('studentlogin', 'app/components/studentcheckyouremail.html')">
    SEND
  </button>
</div>
