<div
  class="fullwidth fullheight flexbox flexdirec-col"
  style="
    background-color: var(--violet);
    padding-left: 20%;
    padding-right: 20%;
  ">
  <label
    onclick="includehtml('studentlogin', 'app/components/studentloginform.html')"
    class="fullwidth"
    style="color: var(--white); text-align: left"
    >&lt; BACK</label
  >
  <hr class="fullwidth" />
  <img src="./img/vercode_vector.png" style="width: 300px; height: 300px" />
  <h2 style="color: var(--white)">Enter the verification Code</h2>
  <p style="color: var(--white); text-align: center">
    Enter your email address to reset your password. The verification code will
    be sent to your email.
  </p>
  <input class="inputtextdes2" placeholder="Enter the code" type="text" />
  <div class="fullwidth flexbox flexdirec-row">
    <button
      class="fullwidth"
      style="
        background-color: transparent;
        border-radius: 20px;
        border: 1px solid var(--white);
        height: 35px;
        color: var(--white);
        margin-right: 5px;
      ">
      RESEND(0)
    </button>
    <button
      onclick="includehtml('studentlogin', 'app/components/studentchangepassword.html')"
      class="btndes3"
      style="margin-left: 5px">
      SEND
    </button>
  </div>
</div>
